.idea/
report_analyzer/policies/
processing-codes/policy-generator/policies/
processing-codes/data/
**/__pycache__/
report_analyzer/test_flow.txt
report_analyzer/test_data

evaluation/all_ports
evaluation/results/
evaluation/policies/
evaluation/reports_cache/
evaluation/report.json